[color]
	ui = auto
[merge]
	tool = meld
[diff]
	tool = meld
	indentHeuristic = true
[alias]
	tree = log --graph --all --decorate --oneline
	rmc = rm --cached
	c = commit -m
	cs = commit -S -m
	ca = commit -am
	csa = commit -S -am
	cv = commit
	cav = commit -a
	ci = svn dcommit
	up = svn rebase
	s = status --short --branch
	a = add
	ap = add -p
	d = diff --color-words
	dc = diff --cached --color-words
	ls = ls-files
[core]
	editor = vim
	autocrlf = input
[format]
	pretty ="%C(yellow)%<(15)%ar%Creset %C(white)%h%Creset %C(bold)%<(50)%s%Creset %C(yellow)%an%Creset"
[push]
	default = upstream
[log]
	date = relative
[color "diff"]
	new = white green bold
	old = white red bold
[tar]
	txz = "xz -c"
[commit]
	verbose = true
[svn]
	rmdir = true
