"*":
  "autocomplete-plus": {}
  "autocomplete-python":
    addBracketAfterFunction: true
    addDotAfterModule: true
    useSnippets: "required"
  build:
    refreshOnShowTargetList: true
    saveOnBuild: true
  "build-make":
    useMake: true
  core:
    disabledPackages: [
      "linter-python-pep257"
      "latex"
      "linter-chktex"
      "linter-pep257"
      "spell-check"
      "linter-shellcheck"
    ]
  editor:
    fontFamily: "inconsolata"
    fontSize: 21
    invisibles: {}
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "ff49e55f-cf0d-c4b0-dc96-0290b690d294"
  "keyboard-localization":
    useKeyboardLayout: "fr_FR"
  linter:
    lintOnFly: false
  "linter-flake8": {}
  "linter-pep257": {}
  "linter-pep8": {}
  "linter-python-pep257": {}
  "markdown-preview":
    useGitHubStyle: true
  "tree-view":
    autoReveal: true
    focusOnReveal: false
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".csv.semicolon.text":
  editor:
    tabLength: 8
".csv.text":
  editor:
    tabLength: 8
".python.source":
  whitespace:
    removeTrailingWhitespace: true
