"*":
  "exception-reporting":
    userId: "ff49e55f-cf0d-c4b0-dc96-0290b690d294"
  welcome:
    showOnStartup: false
  core:
    disabledPackages: [
      "linter-chktex"
      "linter-pep257"
    ]
  editor:
    invisibles: {}
    fontFamily: "inconsolata"
    fontSize: 21
    showInvisibles: true
    showIndentGuide: true
    softWrap: true
  "linter-pep8": {}
  "autocomplete-python":
    addDotAfterModule: true
    addBracketAfterFunction: true
    useSnippets: "required"
  "linter-flake8": {}
  linter:
    lintOnFly: false
  "linter-pep257": {}
  "autocomplete-plus": {}
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  "keyboard-localization":
    useKeyboardLayout: "fr_FR"
  "linter-python-pep257": {}
  latex:
    alwaysOpenResultInAtom: true
".python.source":
  whitespace:
    removeTrailingWhitespace: true
