'atom-text-editor[data-grammar~="haskell"]':
#   '': 'haskell-ghc-mod:check-file'
#   '': 'haskell-ghc-mod:lint-file'
#   '': 'haskell-ghc-mod:show-type' #this is an example binding
#   '': 'haskell-ghc-mod:show-info' #this is an example binding
#   '': 'haskell-ghc-mod:insert-type' #this is an example binding
#   '': 'haskell-ghc-mod:case-split'
#   '': 'haskell-ghc-mod:sig-fill'
#   '': 'haskell-ghc-mod:show-info-fallback-to-type'
#   '': 'haskell-ghc-mod:insert-import'
#   '':'ide-haskell:prettify-file'
#   '':'ide-haskell:next-error'
#   '':'ide-haskell:prev-error'
  'alt-d': 'haskell-ghc-mod:go-to-declaration'
  'escape': 'ide-haskell:close-tooltip' #this is set by default
  'alt-i': 'haskell-ghc-mod:show-type-and-info'
  'alt-t': 'haskell-ghc-mod:show-type-fallback-to-info'
  'ctrl-alt-b': 'ide-haskell-cabal:build'

# 'atom-text-editor[data-grammar~="cabal"]':
#   '': 'ide-haskell:prettify-file'

# 'atom-workspace':
#   '': 'haskell-ghc-mod:shutdown-backend'
#   '': 'ide-haskell:toggle-output'
#   '': 'ide-haskell-cabal:set-build-target'
#   '': 'ide-haskell-cabal:clean'
#   '': 'ide-haskell-cabal:test'

'atom-text-editor':
  'ctrl-shift-delete': 'editor:delete-to-end-of-line'
